{% extends 'post/base.html' %}
{% load bootstrap3 %}

{% block title %}
    ModelForm
{% endblock %}

{% block content %}

<h2>#{{ post.id }} - {{ post.title }}</h2>
{{ post.content }}
<p>
    <a href="{% url 'add_comment' post.id %}">
        Comments ({{ post.number_of_comments }})
    </a>
</p>
{% for comment in comments %}<p>{{ comment }}</p>{% endfor %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='OK' %}{% endbuttons %}
</form>

{% endblock %}
