{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block menu %}
    {% include 'menu.html' with active='login' %}
{% endblock %}

{% block content %}

{% if validlink %}

    <p>Podaj dwa razy nowe hasło:</p>

    <form action="" method="post">{% csrf_token %}
    {{ form.new_password1.errors }}
    <p class="aligned wide"><label for="id_new_password1">Nowe hasło:</label>{{ form.new_password1 }}</p>
    {{ form.new_password2.errors }}
    <p class="aligned wide"><label for="id_new_password2">Potwierdź:</label>{{ form.new_password2 }}</p>
    <p><input type="submit" value="Change my password" /></p>
    </form>

{% else %}

    <p>Twój token wygasł.</p>

{% endif %}

{% endblock %}